.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems a,
.dialogsItems a:visited,
.dialogsItems a:active {
  color: white;
  text-decoration: none;
}

.active {
  color: blue !important;
}

.messages {
  padding: 10px;
}

.message {
 color: white;
}