.formControl {
    position: relative;
}

.formControl.error input,
.formControl.error textarea{
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.form_summary_error {
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    color: red;
    max-width: 200px;
}